name: CI Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: install
    - name: Build
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: build
    - name: Compile
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: compile
    - name: Test
      uses: borales/actions-yarn@v2.0.0
      with:
        cmd: test
